<a href="https://colab.research.google.com/github/antonio10027/Contams_Defunciones/blob/main/02_JoiningFiles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Con este archivo concatenamos los archivos generados con el código anterior y tener en un sólo archivo todos  
#los valores estadísticos por el total de años procesados.

import pandas as pd
import os
import glob

In [ ]:
path= '/content/drive/MyDrive/UPIITA/CONTAMYMETEOROLOGIA/contaminantes/stdpormes'

In [ ]:
df_concat = pd.concat(map(pd.read_csv, glob.glob(path+'/*.csv')))
#Verificamos
df_concat.head()

         date id_station id_parameter      value  unit
0  2021-01-31        ACO           CO   0.298887  15.0
1  2021-01-31        ACO           NO  22.432587   1.0
2  2021-01-31        ACO          NO2  11.741847   1.0
3  2021-01-31        ACO          NOX  29.793141   1.0
4  2021-01-31        ACO           O3  25.710151   1.0

In [ ]:
df_concat.tail()

            date id_station id_parameter       value  unit
2739  2015-12-31        XAL           O3   17.376101   1.0
2740  2015-12-31        XAL         PM10  101.050659   2.0
2741  2015-12-31        XAL        PM2.5   45.277333   2.0
2742  2015-12-31        XAL         PMCO   55.775634   2.0
2743  2015-12-31        XAL          SO2   10.163009   1.0

In [ ]:
#Guardamos
df_concat.to_csv(path+'/stdContamTotal.csv',index=False)#para que no se agregue el índice de cada archivo